{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Random bird name generator for anonymity">
    <meta name="author" content="Sencer Hamarat">

    <link rel="apple-touch-icon" sizes="180x180" href="{{ STATIC_URL }}favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ STATIC_URL }}favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ STATIC_URL }}favicon/favicon-16x16.png">
    <link rel="manifest" href="{{ STATIC_URL }}/favicon/site.webmanifest">
    <link rel="mask-icon" href="{{ STATIC_URL }}/favicon/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="apple-mobile-web-app-title" content="Random Bird Name Generator">
    <meta name="application-name" content="Random Bird Name Generator">
    <meta name="msapplication-TileColor" content="#00aba9">
    <meta name="theme-color" content="#ffffff">

    <title>{{ title }}</title>
    <link href="{{ STATIC_URL }}css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}css/freelancer.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <style>
        .urlLink:link {
          color: white;
          background-color: transparent;
          text-decoration: none;
        }

        .urlLink:visited {
          color: white;
          background-color: transparent;
          text-decoration: none;
        }

        .urlLink:hover {
          color: gray;
          background-color: transparent;
          text-decoration: none;
        }

        .urlLink:active {
          color: white;
          background-color: transparent;
          text-decoration: none;
        }
    </style>
</head>

<body id="page-top" class="index">
    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#page-top">{{ title }}</a>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li class="page-scroll">
                        <a href="#generate">Get One</a>
                    </li>
                    <li class="page-scroll">
                        <a href="#about">About</a>
                    </li>
{#                    <li class="page-scroll">#}
{#                        <a href="#contact">Contact</a>#}
{#                    </li>#}
                </ul>
            </div>
        </div>
    </nav>

    <!-- Header -->
    <header>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <img class="img-responsive" src="{{ STATIC_URL }}img/bird_name_256.png" alt="random bird name generator">
                    <div class="intro-text">
                        <span class="name">Random Bird name Generator</span>
                        <hr class="star-light">
                        <span class="skills">For who wants to stay anonymous</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Bird Name Generator Section -->
    <section id="generate">
        <div class="container">
            <div class="row">
                <div class="col-lg-pull-12 text-center">
                    <h3>To generate random bird name,<br />click the button below</h3>
                    <hr class="star-primary">
                </div>
                <div class="col-lg-pull-12 text-center">
                    <button class="btn btn-success" id="get_bird_name">
                        Get A Bird Name &nbsp; <i class="fa fa-caret-square-o-right"></i>
                    </button>
                    <div class="clearfix">&nbsp;</div>
                    <div class="col text-center">
                        <label for="get_scientific">With Scientific Name</label>
                        <input type="checkbox" class="checkbox" name="get_scientific" id="get_scientific"
                               value="get_scientific" style="display: inline;"/>
                    </div>
                </div>
                <br class="clearfix" />
                <div style="display: none; background-color: #88e088;" class="col-lg-pull-12 text-center" id="show_bird_name">
                    <br />
                    <div class="col">
                        <p>Your bird name is:</p>
                    </div>
                    <div id="bn_div" class="col">
                        <span id="bird_name" class="h3">&nbsp;</span>&nbsp;&nbsp;
                        <button id="copy-name" title="Click to copy the name to clipboard."
                                class="btn btn-sm btn-primary" style="margin-top: -10px;"
                                onclick="copyTextToClipboard($('#bird_name').text());">
                            Copy &nbsp; <i class="fa fa-clipboard" aria-hidden="true"></i>
                        </button>
                    </div>
                    <div id="sn_div" style="display: none;" class="col">
                        <div class="col">&nbsp;</div>
                        <span id="scientific_name" class="h4" style="margin-top: 5px;">&nbsp;</span>&nbsp;&nbsp;
                        <button id="copy-sci-name" title="Click to copy the scientific name to clipboard."
                                class="btn btn-xs btn-default"  style="margin-top: -5px;"
                                onclick="copyTextToClipboard($('#scientific_name').text());">
                            Copy &nbsp; <i class="fa fa-clipboard" aria-hidden="true"></i>
                        </button>
                    </div>
                    <span class="check" style="display: none;"><i class="fa fa-check-circle"></i> Copied to Clipboard</span>
                    <br />
                </div>
            </div>
        </div>
    </section>
    <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <h4>The Website Service</h4>
                    <br />
                    <p>
                        This is the free service for who wants to stay anonymous, but lazy to create a nickname. Random
                        Bird Name Generator is exactly for those people who are do not want waste their time to create
                        an anonymous nickname. Just press button above, and Random Bird Name Generator does the magic
                        for you and give you a nickname. Then start to use your anonymous name where ever you want.
                    </p>
                </div>
                <div class="col-lg-4">
                    <h4>The API Service (Coming Soon!)</h4>
                    <br />
                    <p>
                        The API of this service is stil under development. The websites generally wants to provide
                        the anonymity to their new registered users can be able to use this API
                        (<a href="https://rbng.recnes.com/bnapi" class="urlLink">https://rbng.recnes.com/bnapi</a>).
                        API calls are restricted to 10 request per minutes.
                    </p>
                </div>
            </div>
        </div>
    </section>
    <!-- Footer -->
    <footer class="text-center">
        <div class="footer-above">
            <div class="container">
                <div class="row">
                    <div class="footer-col col-md-4">
                        <h3>Counter</h3>
                        <p><span id="counter">{{ count }}</span> times bird name generated.</p>
                    </div>
                    <div class="footer-col col-md-4">
                        <h3>Technologies Used</h3>
                        <ul class="list-inline">
                            <li>
                                <a href="https://www.python.org" class="btn-social btn-outline"><img src="{% static 'images/python.png' %}" width=45 alt="python" style="margin-top: -3px;"/></a>
                            </li>
                            <li>
                                <a href="https://www.djangoproject.com" class="btn-social btn-outline"><img src="{% static 'images/django.png' %}" width=46 alt="django" style="margin-top: -3px;" /></a>
                            </li>
                        </ul>
                    </div>
                    <div class="footer-col col-md-4">
                        <h3>About Developer</h3>
                        <p>Random Bird Name Generator for anonymity created by <a href="https://recnes.com">Sencer Hamarat</a>.</p>
                        <p><a href="https://www.youtube.com/watch?v=ODIvONHPqpk" target="_blank"><i class="fa fa-bug"></i> The Beatles - Free As A Bird</a></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-below">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        Copyright &copy; Random Bird Name Generator by Sencer Hamarat 2015
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
    <div class="scroll-top page-scroll visible-xs visble-sm">
        <a class="btn btn-primary" href="#page-top">
            <i class="fa fa-chevron-up"></i>
        </a>
    </div>


    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="{{ STATIC_URL }}js/jquery.cookie.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
    </script>
{#    <script src="{{ STATIC_URL }}js/bootstrap.min.js"></script>#}

    <!-- Plugin JavaScript -->
    <script src="{{ STATIC_URL }}js/rbng.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script src="{{ STATIC_URL }}js/classie.js"></script>
    <script src="{{ STATIC_URL }}js/cbpAnimatedHeader.js"></script>

    <!-- Contact Form JavaScript -->
{#    <script src="{{ STATIC_URL }}js/jqBootstrapValidation.js"></script>#}
{#    <script src="{{ STATIC_URL }}js/contact_me.js"></script>#}

    <!-- Custom Theme JavaScript -->
    <script src="{{ STATIC_URL }}js/freelancer.js"></script>

    <!-- Clipboard JavaScript -->
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-61475119-1', 'auto');
        ga('send', 'pageview');
    </script>
</body>

</html>
